.day {
	width: 10%;
	color: black;
	border: 1px solid black;
	height: 100px;
	display: inline-block;
	margin: 0;
	padding: 0;
	background-color: aliceblue;
}

.time {
	height: 100px;
	margin: 0;
	padding: 0;
}

.timeSlot {
	margin: 0;
	padding: 0;
	line-height: 0.7;
}

.events {
	background-color: #ff99cc;
	position: absolute;
	width: 150px;
	height: 100px;
}

.login {
	margin-top: 10%;
	margin-left: 45%;
}

.calendarView {
	margin-top: 50px;
	margin-left: 10%;
}